<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.simple.mapper.ScoreMapper">
	
	<!-- 등록 -->
	<insert id="scoreRegist">
		insert into score values(score_seq.nextval, #{name}, #{kor}, #{eng}, #{math})
	</insert>
	
	<!-- 조회 -->
	<!-- 마이바티스 설정에 alias가 있다면 단축이름으로 사용이 가능합니다  -->
	<select id="getList" resultType="ScoreVO">
		select * from score	
	</select>
	
	<!-- 삭제 -->
	<delete id="scoreDelete">
		delete from score where num = #{index}
	</delete>
	
</mapper>