<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mapper에서 사욜할 단축이름을 typeAlias에 기술합니다. -->  
<configuration>
	<typeAliases>
		<typeAlias type="com.simple.command.ScoreVO" alias="ScoreVO"/>
		<typeAlias type="com.simple.command.BoardVO" alias="BoardVO"/>
	</typeAliases>

</configuration>