<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- dtd라는 파일을 참조하는 마이바티스 문서라는 것을 선언 -->

<!-- namespace속성에 참조할 인터페이스 위치를 정확하게 기술 -->
<mapper namespace="com.simple.test.mapper.TestMapper">
	
	<!-- id속성에는 참조한 인터페이스의 추상메서드 이름 -->
	
	<!-- selete -->
	<!-- select문은 resultType을 반드시 명시 - sql실행결과를 반환할 타입 -->
	<!-- ;은 적지 않습니다 -->
	<select id="getTime" resultType="String">
		<!-- select구문에 한해서 resultSet반드시 명시하고 추상메서드의 리턴타입과 동일해야함 -->
		<!-- sql문 작성 → ;을 작성하지 않는다-->
		select sysdate from dual
	</select>
	
	<!-- insert, update, delete -->
	<!-- vo의 setter메서드의 set을 제외한 이름을 #{이름} 전달하면 됩니다. -->
	<insert id="insert">
		INSERT INTO board(num, name, title, content) 
		VALUES (board_seq.nextval, #{name}, #{title}, #{content})
	</insert>
	
	<!-- select → VO를 통한 반환 -->
	<select id="getList" resultType="com.simple.command.BoardVO">
		select * from board
	</select>
	
	<!-- 10번게시물 단일 조회 -->
	<select id="selectOne" resultType="com.simple.command.BoardVO">
		select * from board where num = #{num}
	</select>
	
	<!-- 2개 이상의 파라미터 조회 -->
	<select id="getListTwo" resultType="com.simple.command.BoardVO">
		<!-- %홍길동% → '%'||${name}||'%' -->
		<!-- ${}만 문자열로 인식하기때문에 ''||를 이용하여 문자열로 붙여줌  -->
		select * from board where name like '%'||#{xxx}||'%' and title = #{yyy}
	</select>
	
	<!-- 10번 게시글 수정 -->
	<update id="updateOne">
		update board set title = #{title}, content = #{content} where num = #{num}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from board where num = #{num}
	</delete>
	
	
	
</mapper>
