<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mapper에서 사욜할 단축이름을 typeAlias에 기술합니다. -->  
<configuration>
	<typeAliases>
		<typeAlias type="com.team404.command.FreeBoardVO" alias="FreeBoardVO"/>
		<typeAlias type="com.team404.command.ReplyVO" alias="ReplyVO"/>
		<typeAlias type="com.team404.command.UserVO" alias="UserVO"/>
		<typeAlias type="com.team404.command.SnsBoardVO" alias="SnsBoardVO"/>
	</typeAliases>

</configuration>

<!-- command 패키지안의 클래스들 이름을 약어로 사용하기 위해 선언 -->
<!-- 패키지 전체 매핑
<configuration>
    <typeAliases>
        <package name="com.team404.common.util"/>
        <package name="com.team404.command"/>
    </typeAliases>
</configuration>
 -->