<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/config/DB-servlet.xml</param-value>
  	</context-param>
  	
  	<!-- 
  	스프링이 시작이 되면서 listener가 동작하고, 스프링 관련된 초기설정. 
  	위에 선언된 DB-servlet.xml을 모든 서블릿에서 사용할 수 있도록 생성
  	-->
  	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param><!-- 초기화 파라미터 값 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/spring-servlet.xml
				
			</param-value><!-- 스프링의 설정파일 -->
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
  
</web-app>