<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.team404.user.mapper.UserMapper">

	<!-- 중복체크 -->
	<select id="idCheck" resultType="int">
		select count(*) as result from users where userId = #{userId} 
	</select>
	
	<insert id="join">
		insert into users(userId, userPw, userName, userPhone1, userPhone2, userEmail1, userEmail2, addrBasic, addrDetail, addrZipNum) 
		values(#{userId}, #{userPw}, #{userName}, #{userPhone1}, #{userPhone2}, #{userEmail1}, #{userEmail2}, #{addrBasic}, #{addrDetail}, #{addrZipNum} )
	</insert>
	
	<!-- 
	<select id="login" resultType="UserVO">
		select * from users where userId = #{id} and userPw = #{pw}
	</select>
	 -->
	 
	 <select id="login" resultType="UserVO">
	 	select * from users where userId = #{userId} and userPw = #{userPw}
	 </select>
	 
	 
	 <!-- 마이페이지 -->
	 <!-- 조인의 결과로 1:N관계의 형태를 map으로 처리하는 방식에서 resultMap속성을 이용합니다 -->
	 <select id="getInfo" resultMap="userInfo">
		SELECT userid, 
		       username, 
		       userphone1, 
		       userphone2, 
		       useremail1, 
		       useremail2, 
		       addrbasic, 
		       addrdetail, 
		       addrzipnum, 
		       f.bno, 
		       f.title, 
		       f.regdate
		FROM users u 
		LEFT OUTER JOIN freeboard f
		on u.userid = f.writer
		where u.userid = #{userId}
		ORDER BY f.bno desc
	 </select>
	 
	 <!-- type속성에는 실제클래스의 경로, id속성에는 위에서 지정한 resultMap의 이름 -->
	 <!-- property속성에는 VO객체의 변수명, column속성에는 DB의 컬럼명이 들어갑니다 -->
	 <resultMap type="UserVO" id="userInfo">
		<result property="userId" column="USERID"/>
		<result property="userName" column="USERNAME"/>
		<result property="userPhone1" column="USERPHONE1"/>
		<result property="userPhone2" column="USERPHONE2"/>
		<result property="userEmail1" column="USEREMAIL1"/>
		<result property="userEmail2" column="USEREMAIL2"/>
		<result property="addrBasic" column="ADDRBASIC"/>
		<result property="addrDetail" column="ADDRDETAIL"/>
		<result property="addrZipNum" column="ADDRZIPNUM"/>
		<collection property="list" resultMap="userBoardList" />
	 </resultMap>
	 
	 <resultMap type="FreeBoardVO" id="userBoardList">
	 	<result property="bno" column="BNO"/>
	 	<result property="title" column="TITLE"/>
	 	<result property="regdate" column="REGDATE"/>
	 </resultMap>


</mapper>