<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 스프링이 가동되면서 가장처음 설정파일로 등록(DB관련된 설정이나, 외부설정) -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/springconfig/DB-context.xml
			<!-- /WEB-INF/springconfig/DB-context.xml  :  xml이 다중으로 들어갈수 있음 !-->
		</param-value>
	</context-param>
	
	<!-- 스프링이 처음 동작하면서 가장 처음 실행 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 디스패쳐 서블릿이 frontcontroller로 등록 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springconfig/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern><!-- 패턴은 '/'로 국한적이지 않고 다양하게 젼할수 있음 ex)*.do, *.nhn 등...-->
	</servlet-mapping>
	
	<!-- 에러처리 -->
	<!-- 
	<error-page>
		<error-code>404</error-code>
		<location>에러페이지404.jsp</location>
	</error-page> 
	-->
	
	<!-- 한글처리 -->
	<!-- 스프링 한글처리 - 스프링에서 제공하는 필터클래스를 사용합니다 -->
	<filter>
	    <filter-name>encodingFilter</filter-name>
	    <filter-class>
				org.springframework.web.filter.CharacterEncodingFilter
	    </filter-class>
	    <init-param>
	      <param-name>encoding</param-name>
	      <param-value>UTF-8</param-value>
	    </init-param>
	    <init-param>
	      <param-name>forceEncoding</param-name>
	      <param-value>true</param-value>
	    </init-param>
   </filter>
   
   <!-- 위에 지정한  encodingFilter이름을 모든 패턴에 적용-->
   <filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
   </filter-mapping>

</web-app>
